<h2>Welcome to searching Songs/Albums on iTunes</h2>
<br/><br/>

Enter a search string : {{input type='text' value=enteredSearchString}}
<button {{action 'searchString'}}>SEARCH</button>

<br/><br/><br/>

<hr>
<br/>

{{outlet}}
